includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tehillim-campaign-manager.php
        - uninstall.php
    excludePaths:
        - vendor/*
